In [2]:
pip install schedule

Defaulting to user installation because normal site-packages is not writeable
Collecting schedule
  Using cached schedule-1.2.2-py3-none-any.whl.metadata (3.8 kB)
Using cached schedule-1.2.2-py3-none-any.whl (12 kB)
Installing collected packages: schedule
Successfully installed schedule-1.2.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
import schedule  #importing scedule library

In [3]:
import pandas as pd #importing panda library

In [4]:
import time #importing time library

In [26]:
# Function for data cleaning using python task internship at code alpha
def clean_data():
    # For loading the data from CSV
    df = pd.read_csv('dataset1.csv')
    print(df)
    
clean_data()

     country  age    salary purchased
0     india   18.0  10000.0       yes
1     india   19.0  20000.0        no
2     china   20.0  30000.0       yes
3     china   21.0  40000.0       yes
4    france   22.0  50000.0        no
5   veitnam   23.0  60000.0        no
6   thialand  24.0  20000.0       yes
7  thiailand  19.0      NaN       NaN
8    vietnam   NaN  30000.0        no
9      inida   NaN     28.0       NaN

In [16]:
df = pd.read_csv('dataset1.csv')
df

     country  age    salary purchased
0     india   18.0  10000.0       yes
1     india   19.0  20000.0        no
2     china   20.0  30000.0       yes
3     china   21.0  40000.0       yes
4    france   22.0  50000.0        no
5   veitnam   23.0  60000.0        no
6   thialand  24.0  20000.0       yes
7  thiailand  19.0      NaN       NaN
8    vietnam   NaN  30000.0        no
9      inida   NaN     28.0       NaN

In [28]:
# Function for data cleaning using python task internship at code alpha
def clean_data():
    # For loading the data from CSV
    df = pd.read_csv('dataset1.csv')
    
    # filling missing values with 0 zero
    df.fillna(0, inplace=True)
    print(df)


clean_data()

     country  age    salary purchased
0     india   18.0  10000.0       yes
1     india   19.0  20000.0        no
2     china   20.0  30000.0       yes
3     china   21.0  40000.0       yes
4    france   22.0  50000.0        no
5   veitnam   23.0  60000.0        no
6   thialand  24.0  20000.0       yes
7  thiailand  19.0      0.0         0
8    vietnam   0.0  30000.0        no
9      inida   0.0     28.0         0

In [29]:
# Function for data cleaning using python task internship at code alpha
def clean_data():
    # For loading the data from CSV
    df = pd.read_csv('dataset1.csv')
    
    # filling missing values with 0 zero
    df.fillna(0, inplace=True)

     # Removing duplicate values
    df.drop_duplicates(inplace=True)
    
    print(df)
clean_data()

     country  age    salary purchased
0     india   18.0  10000.0       yes
1     india   19.0  20000.0        no
2     china   20.0  30000.0       yes
3     china   21.0  40000.0       yes
4    france   22.0  50000.0        no
5   veitnam   23.0  60000.0        no
6   thialand  24.0  20000.0       yes
7  thiailand  19.0      0.0         0
8    vietnam   0.0  30000.0        no
9      inida   0.0     28.0         0

In [33]:
def clean_data():
    # For loading the data from CSV
    df = pd.read_csv('dataset1.csv')
    
    # filling missing values with 0 zero
    df.fillna(0, inplace=True)

     # Removing duplicate values
    df.drop_duplicates(inplace=True)

     # Trimming whitespaces and coverting uppercase to lower case in country column
    if 'country' in df.columns:
        df['country'] = df['country'].str.strip().str.lower()
    
    print(df)
    
clean_data()

     country  age    salary purchased
0      india  18.0  10000.0       yes
1      india  19.0  20000.0        no
2      china  20.0  30000.0       yes
3      china  21.0  40000.0       yes
4     france  22.0  50000.0        no
5    veitnam  23.0  60000.0        no
6   thialand  24.0  20000.0       yes
7  thiailand  19.0      0.0         0
8    vietnam   0.0  30000.0        no
9      inida   0.0     28.0         0

In [37]:
def clean_data():
    # For loading the data from CSV
    df = pd.read_csv('dataset1.csv')
    
    # filling missing values with 0 zero
    df.fillna(0, inplace=True)

     # Removing duplicate values
    df.drop_duplicates(inplace=True)

     # Trimming whitespaces and coverting uppercase to lower case in country column
    if 'country' in df.columns:
        df['country'] = df['country'].str.strip().str.lower()

    # Saving cleaned data to a new CSV
    df.to_csv('cleaned_data.csv', index=False)
    print("Data cleaning completed and saved.")

    # Schedule the task to run every day at 10:00 AM
    schedule.every().day.at("11:51").do(clean_data)

    
    
    print(df)
    
clean_data()

Data cleaning completed and saved.
     country  age    salary purchased
0      india  18.0  10000.0       yes
1      india  19.0  20000.0        no
2      china  20.0  30000.0       yes
3      china  21.0  40000.0       yes
4     france  22.0  50000.0        no
5    veitnam  23.0  60000.0        no
6   thialand  24.0  20000.0       yes
7  thiailand  19.0      0.0         0
8    vietnam   0.0  30000.0        no
9      inida   0.0     28.0         0

In [ ]:
def clean_data():
    # For loading the data from CSV
    df = pd.read_csv('dataset1.csv')
    
    # filling missing values with 0 zero
    df.fillna(0, inplace=True)

     # Removing duplicate values
    df.drop_duplicates(inplace=True)

     # Trimming whitespaces and coverting uppercase to lower case in country column
    if 'country' in df.columns:
        df['country'] = df['country'].str.strip().str.lower()

    # Saving cleaned data to a new CSV
    df.to_csv('cleaned_data.csv', index=False)
    print("Data cleaning completed and saved.")

    # Scheduling  the task to run every day at 10:53 AM
    schedule.every().day.at("10:53").do(clean_data)

    while True:
        schedule.run_pending()
        time.sleep(1)
    
    print(df)
    
clean_data()

Data cleaning completed and saved.